<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home - Pryam</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  </head>
  <body>
    <section class="hero is-primary">
      <div class="hero-body">
          <div class="container">
            <h1 class="title">Pyram!</h1>
            <h2 class="subtitle">Connecting interesting people</h2>
          </div>
      </div>
    </section>
    <section class="section">
          <div class="container">
            <div class="columns">
              <div class="column">
                <h1 class="title">I am interested in...</h1>
                <div class="field has-addons">
                  <div class="control is-expanded">
                    <input class="input is-large" type="text" placeholder="Hiking, Rock Climbing, Biking, etc...">
                  </div>
                  <div class="control">
                    <input type="submit" value="Search" class="button is-primary is-large">
                  </div>
                </div>
              </div>
            </div>
          </div>
    </section>
  </body>
</html>
