<!DOCTYPE html>
<html>
  <head>
    <title>Map - Pyram</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
    <script src="../static/map.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  </head>
  <body>
    <div id="wrapper">
      <div id="map"></div>
      <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCLxBzV4FZRaxmiRlFyICmeMiRk1EJdMOA&callback=initMap" async defer></script>
      <div class="radius-for-pyram">
        <div class="slidecontainer">
          <b>Search Radius:</b><br>
          <b>1 mile</b>
	  <input type="range" list="miles-list" min="1" max = "100" step="1" value = "25" class="slider" id="radius" oninput="resizeCircle(value)"/>
 	  <b>100 miles</b>
        </div>
	<div class="date-pickers">
	  <b>Begin Date:</b><input type="date" id="begin-date"/><br>
	  <b>End Date:</b><input type="date" id="end-date"/><br>
	</div>
        <a class="button is-dark" id="place-pyram" href="javascript:openModal()">Place Pyram</a>
      </div>
      <div class="modal" id="contact-options">
        <div class="modal-background"></div>
          <div class="modal-content">
            <form id="getContact">
              <table id="modal-table">
                <tr>
                  <div class="columns">
                    <div class="column">
                      <b class="modal-text">Name:</b><br>
                      <input type="text" id="name" name="name"/>
                    </div>
                    <div class="column">
                      <b class="modal-text">Email:</b><br>
                      <input type="email" id="email" name="email"/>
                    </div>
                    <div class="column">
                      <b class="modal-text">Contact Info:</b><br>
                      <input type="textarea" id="contact" name="contact"/>
                    </div>
                  </div>
                </tr>
                <tr>
                  <div class="columns">
                    <div class="column">
                      <a class="button" href="javascript:addToMap('{{interest|safe}}')">Add Me To Map</a>
                    </div>
                  </div>
                </tr>
              </table>
            </form>
            <button class="modal-close is-large" aria-label="close" onclick="javascript:closeModal()"></button>
          </div>
        </div>
      </div>   
      <div class="menu-div" id="menu-div">
        <aside class="menu">
          <p class="menu-label">Your Neighbors</p>
            <ul class="menu-list" id="menu-list">
            </ul>
        </aside>
      </div>
      <div id="reset-options">
        <a class="button is-dark" href="javascript:clearMap()">Clear Map</a>
        <a class="button is-dark" href="/">New Activity Search</a>
      </div>
    </div>
  </body>
</html>
